{% import '_includes/forms' as forms %}

<input type="hidden" name="rootPath" value="{{ craft.config.get('rootPath', 'presto') }}">

{{ forms.textField({
	label: 'Cache Location'|t,
	instructions: 'Relative path to the cache directory from the public root.'|t,
	name: 'cachePath',
	value: settings.cachePath,
	first: true
}) }}

{% set cron = craft.config.get('purgeMethod', 'presto') == 'cron' %}

<div class="field">
	<div class="heading">
		<label>Cache Purge</label>
		<div class="instructions">
			{% if cron %}
				Schedules purge of all static caches.
			{% else %}
				Purges all static and template caches.
			{% endif %}
		</div>
	</div>
	<a class="btn submit" href="{{ actionUrl('presto/PurgeCache') }}">{{ cron ? 'Schedule Purge' : 'Purge Cache' }}</a>
</div>